@using ContosoUniversity.Components.Instructors
@using CU.Application.Shared.ViewModels.Instructors
@model InstructorsListViewModel
@{
    @if (Model.ViewMode >= 0)
    {
        Layout = "~/Views/Shared/_LayoutBlazor.cshtml";
    }
    ViewData["Title"] = "Instructors";
}
@if (Model.ViewMode < 0)
{
<h1 class="h2">Instructors</h1>

    @await Html.PartialAsync("Partial/InstructorsListPartial", Model.Instructors)
}
else
{
    <component type="typeof(Instructors)" render-mode="ServerPrerendered" param-InstructorsVM="Model" />
}
