USE ContosoUniversity_c31_dev2; --Database used for Migrations
--USE ContosoUniversity22; --Database used for web app
GO

Declare @UseMigrationHistory bit = 0;
--Declare @UseMigrationHistory bit = 1; -- **** USE THIS for Dev database used to create migrations
CREATE TABLE [dbo].[xLookups2cKey] (
    [LookupTypeId] [smallint] NOT NULL,
    [Code] [nvarchar](2) NOT NULL,
    [Name] [nvarchar](100) NOT NULL,
    [_SubType] [smallint] NOT NULL,
    CONSTRAINT [PK_dbo.xLookups2cKey] PRIMARY KEY ([LookupTypeId], [Code])
)
CREATE UNIQUE INDEX [LookupTypeAndName] ON [dbo].[xLookups2cKey]([LookupTypeId], [Name])
CREATE TABLE [dbo].[_coursesPresentationTypes] (
    [CourseID] [int] NOT NULL,
    [LookupTypeId] [smallint] NOT NULL,
    [CoursePresentationTypeCode] [nvarchar](2) NOT NULL,
    CONSTRAINT [PK_dbo._coursesPresentationTypes] PRIMARY KEY ([CourseID], [LookupTypeId], [CoursePresentationTypeCode])
)
CREATE INDEX [IX_CourseID] ON [dbo].[_coursesPresentationTypes]([CourseID])
CREATE INDEX [IX_LookupTypeId_CoursePresentationTypeCode] ON [dbo].[_coursesPresentationTypes]([LookupTypeId], [CoursePresentationTypeCode])
CREATE TABLE [dbo].[_departmentsFacilityTypes] (
    [DepartmentID] [int] NOT NULL,
    [LookupTypeId] [smallint] NOT NULL,
    [DepartmentFacilityTypeCode] [nvarchar](2) NOT NULL,
    CONSTRAINT [PK_dbo._departmentsFacilityTypes] PRIMARY KEY ([DepartmentID], [LookupTypeId], [DepartmentFacilityTypeCode])
)
CREATE INDEX [IX_DepartmentID] ON [dbo].[_departmentsFacilityTypes]([DepartmentID])
CREATE INDEX [IX_LookupTypeId_DepartmentFacilityTypeCode] ON [dbo].[_departmentsFacilityTypes]([LookupTypeId], [DepartmentFacilityTypeCode])
ALTER TABLE [dbo].[_coursesPresentationTypes] ADD CONSTRAINT [FK_dbo._coursesPresentationTypes_dbo.Course_CourseID] FOREIGN KEY ([CourseID]) REFERENCES [dbo].[Course] ([CourseID]) ON DELETE CASCADE
ALTER TABLE [dbo].[_coursesPresentationTypes] ADD CONSTRAINT [FK_dbo._coursesPresentationTypes_dbo.xLookups2cKey_LookupTypeId_CoursePresentationTypeCode] FOREIGN KEY ([LookupTypeId], [CoursePresentationTypeCode]) REFERENCES [dbo].[xLookups2cKey] ([LookupTypeId], [Code]) ON DELETE CASCADE
ALTER TABLE [dbo].[_departmentsFacilityTypes] ADD CONSTRAINT [FK_dbo._departmentsFacilityTypes_dbo.Department_DepartmentID] FOREIGN KEY ([DepartmentID]) REFERENCES [dbo].[Department] ([DepartmentID]) ON DELETE CASCADE
ALTER TABLE [dbo].[_departmentsFacilityTypes] ADD CONSTRAINT [FK_dbo._departmentsFacilityTypes_dbo.xLookups2cKey_LookupTypeId_DepartmentFacilityTypeCode] FOREIGN KEY ([LookupTypeId], [DepartmentFacilityTypeCode]) REFERENCES [dbo].[xLookups2cKey] ([LookupTypeId], [Code]) ON DELETE CASCADE

If ISNULL(@UseMigrationHistory,0) = 1 Begin
INSERT [dbo].[__MigrationHistory]([MigrationId], [ContextKey], [Model], [ProductVersion])
VALUES (N'202205151937052_Schema1a_addLookups', N'CU.Infrastructure.Migrations.Configuration',  0x1F8B080000000000000AE41DD96EE4B8F13D40FE41E8A72498EDB63D493031DABBF0D8E3DD46C66363DADEE4CD9025765B581DBD3A666D04F9B23CE493F20B215B1745164FA9D5ED190C30B045B258AC8B5545B2FCBFFFFC77FEC373143A5F509A05497C36399E1E4D1C147B891FC4EBB34991AFBE7B37F9E1FBDFFF6EFEC18F9E9D9FEB7E6F493F3C32CECE264F79BE399DCD32EF09456E368D022F4DB264954FBD249AB97E323B393AFADBECF8788630880986E538F3CF459C0711DAFE827FBD48620F6DF2C20DAF131F8559F51DB72CB7509D4F6E84B28DEBA1B3C9C5FD7411AF5237CBD3C2CB8B144D6F0956598ED14613E73C0C5C8CD41285AB89E3C67192BB3946F9F43E43CB3C4DE2F572833FB8E1DDCB06E17E2B37CC50B594D3B6BBEEAA8E4EC8AA66EDC01A945764791219023C7E5B9169C60EB7227649EB8A901F30C1F317B2EA2D31311D9322CDD06D8A3214979390C689C34E7D7A11A6A4858C88733CD97D1C6CE5257F9996DC9A7E4C925F8A4D368541BE714403DF340285E58EFCC35D8B90F0F42C46459EBAE11BE7B6780C03EFEFE8E52EF905C56771118613E7BD9BA11227C2E76A7EF2F11F41FE74427AD36BC7ABFFE47E09D65B8C6ED36483D2FCA543856CE27C46E1B63D7B0A3615D8B2ED015E151E729526D1E7246CA0887A3EDCB9E91AE513E72ED1EABEC4DF8928CF68FECD5A066AB0D58A8DE5D0E1D9D565056EEB7CC09F6A9E7C46ABCE2A16975D221032B0C39BC1DCC872B58B387F7B32713E6144DC4742FC4AE329CA2CF324453FA218A56E8EFC5B37CF518A15F65312334CE067BB0BF21077AA64314FB1D59C38D7EEF34714AFF3A7B3C95FB099BC0A9E915F7FA866C7B4C536168FC1464C39C9458AFC20CF542B9203B9441B37CD232C696ADACC8C9407D08C5D2A53AD1D9ACA54EB9EEE9A5A3A81CB689BAB193BA8F3AD9CEE035D207D97A1F8214E933024206052B7EDD514348A5C238721DFC314C1455C6ECE492A95854E378EFF54AB88E7741788CFDA469366BA85E16C871F84F1ECAABAA9013531146A23BAF031204C05957922FFEFDA8EBE2FFC52D0B7B35C222F885CEC4C609BE10595FBFB6EE22C3D97ACD0DCC22E734CB74BBCFA6606FCF31DF6728D21B572CDB1403EF073F25B2565F5B0F741ECA698FAC4C32ED214FBC82F441ECF265B6A7668FC0E26B105D32F926853E00FFA16E3DC8F8218FBF0184E92AA0C2FD31934BF9D3E9CFD107634DD2D64EEA3F15621C192DD4DCC77B32BD70BC2CAEA29F1150E03F117F496AD4734A497156FD5C6CA8AB7C30FC28ADBD8EE312DF6471C818F61B5AF8234CBAF037F8CB97E0A526467C1FB0498FA7E902090845C255DFC6E56ABC043E75916AC63A1D7DB4EF0C0F76F319674E38C81AC6F2F2BC02368610B58208761113A6E81B16D103B1586EEC9C7C4AB9252036BA34640B12BF164354B47947B861AF4CED72BED06833CE8B45B8BF248BE88240CBF54B82F566C6E83682BD6B6C30FC2F2B4E8D8589EEEE8B1FC13DD44A02AA82BC87C7DC1FC98BA7EEBBD1009AFBE98B91143A47BD88D589C10D2C5ADA211885CD5F6D0C959B5E801CD9CAA427D7AE96683AF856256630F422BBF9D08C150DB860D190C276FC574E0484295F6B55035D616C8D4D14AD52017A18FAB03C0DB819F73FE48F2415E5E4980856A967892452DB82C98E0C00BD80D94DADC9DA6D1EBE3BF1A4B6D39BF50554E76A1290AF53C3E1A403FC5925A44949C56BBF122BB0ADD757B2DC04252B790762093F7B18FD2F005138936DF5DFA5EA3E811A5754A75E2FCEC8605FEE9886344A7E3FBA6E3B1BCE345D3F144DEF1B2E9F856DEF1AAE9F8679E6D2583E88F38064BBC60CB898E5B243C55EC4EFD21F61DB323C6D65DAB3DAB6BCCAC6083D983597A36F913B73CED391A2F879D83BF91219D733EA3A82227962C4C16AD422BA5D32E810ED4BB68F3B2A5370940273EC6EF4E75349DF2B361538BF0F107B9FA837593D8F720CE79BB1CC45EB07143FDD53320341D35C2B76632B60507A4086B7B9CEB93470B0B49FA88E0D34CCB6C422ACA1948A0F010472419A20190ECB57D4DD4543803207862E91E4EE454F88C206F2AA2BF3E61AB93F01A42C01DC6E908D8314B93F94D7C89429423E7DC2BAFFF5DB8990745FC78A3F30DD0126E1B6A99EF2B8E0C6574A4A01D3D9C48329418028D718551906FD4114E55AA72486B289A0B9040B8EB708E0B9FE112E12F4977B5E8D2B9597DD2482E4EA9747150F360A5C642E475D4477419D34883859CE98BC108CABB04322B223101FA423258751B6923819002A4D74431ACC450429C11FC1A09157466AF86EF4D0A81DB028AD813BC4239404C0B5E49D0719375B7803267437228985C4DB660E93D254978F948BEA367287F7F9FA12A439381B9BB12EE12E5ECE58C3649C4D0662607D0EE7C10107A0F5600EADC01E100D1145500622344081C1F402B807652CA1C38DA6C2800553A0441692CA20244950AA6F2C91C2830EBCC80A5248F9507F125756A90DEB576D64E18A7A09AD553C2CA591FE3A41305952727BBAF7429A54145E9750C9E84DA6929E3C414B5CC8E7E4908A8938AA2C002DAD69B7CC22409403BBD848A594A855A5EC7BC49A8A64CA2E871A21FB11AFD9092094C05E82603FA91868DE1D5BADD8F20A240534E20ADF0D43640ED47405548BA5BB306DCB3E009A908553583556A219DAD5742267178BA1331834222801CCAC8493B76A256D13A11127AC8421E3DF25A5005BAD02BF419848EBCAE2B6FE71B40CE7B6FF35C1FB3362E7BD3369F954FB8AB0FF399E0ADF7FCDADD6CF0E926F5F6BBFAE22CAB87DFDF2DCD9F4147258C99D7A1311B603433E165BB6BC4B496A7E3DB4B25F81A87FB88FDCA8973E1475C3736401138B2F56C027F96E760EDDED603C9CF95C0C91EC38B0E14F960B7027C85174F54614B07C45953C94DCF0A0E793BE5A6D24B0A17495844B1CE2D0931C4F2B2020D09BA3E5141C0CCF0836D18DD9E72D3431F96C56399AEE487CF670C65B8B89F63CE70DC136455BF71EE9D1C0CF71619F9F966F507391B01EAFFF11B632208A1BCFD434328BF0CCFC7BABD35BD5A86591C29F4B3C716CC170D1473A7CE97773924CAA28B2155050E6830D5270359A9EB177490A93FEAC3E91EE3D1C0E4077C7B93A04B2AC4D9C5BE602149B2C1C3D3BDBFEE8B20D46FB96918F5377D28D4936D1A10F5591F56F7C6030D4E7E17420C917ECD4DC3A3BF1F8CACCBA3195B59A712DFE6B22E1B2CE422CB3B238EB537DE3B7B6CF3551F52F70A3B0D6DDB620AAE7DD84A836ABF1E8C18F109D5E18449955DD610293588F1CC43FB0CB3EBD0D55F0F86A7F2E48F2D37A95327733ECA068BE8DD7DC646D35CF63C6E1C378D3A9BEE6E64C2236B31ACEA2E3C0D077CACB647896A3280C389537DFC682E4BC291AF7C8F695AF421B26F9F6025D9D796D3CD5E42C19EF8E4D72CC413C381233BBD441DC9E5821644758ACC537A1073B4BD7254C3E88DABF026CEC0190DFD7C0684279CE5105382CD991B0BA6CE799E79E42886250E18E1211A42AA9ED650506D03524381D5C0FBD08416C67374A185CEC10C2D68672C6C35C5F19DD8FA00E76807651D81D3394DFCCCC28A3ECCE70EFBD82ECD46DE1CFA31877BF3EAA04DA3DA337BF256762155FB922F81BF3D757BC192134D4987E9F2D7F0220CB6178DEA0ED76E1CAC5096978F29272747C7274C95E8C3A9D83CCB32BF530AC0F645F502DF457D3E9BFCCBF9F72B7BBD9C456E18E22BB2B23591D1A74E3BFA3CDE3AAA6F9C9B14F3FBD4397EE32CB2FB38F8B5C0DDEEF02D504C853EEFA1E32F6EEA3DB929FB22BAC773E716A4FD324FA065B2EFA70D716C8FD3587658BEB286AB53EFB522B47A398EBCCE33280FA498440BD4A2ACB30D5A5D778782A392AAC53F29976671D9C8D49152556C6AEA5AB07BF81AB65BBA282B9A0CA2D3BDC4A25BA5364A6262E0FB96A2F5F1CFF950A56875258C1E2B92301D8AF0556DD3E4B7EA4F560859DAD6A01D469C45CEE618A57A7622BA6C759E81C4973A9E18142E5B9A5353A2872C1BD9CFA91ABE7AE3907A6855F8D18AB53625F40EA264DD4EB410744E34785A8FEBC54FEA78C06CF66660AFE93B45F118F7A787DC80F9F86FC94C5BD7481B0A365C026D688BAD9F3AEF17610C1522EBA6932D239AB18C46BFA81D634103781093A51792326A9B46E016281F33A1F8C9F041954E36BE7FA8358CECEB67A57B8476BB0B7977AD0362F2F4425246F5BE3AA081F2CE74409EFCDF81ADEFE7B9EFD558EF216C10F1D1B4781F783CC33D671ABBFA0A3BBFA8661F879555713FDB3A1BC28BE63B2AEE62728BC1188B66B29D97D630B99A4049027824430900D8FECDCBA8D6831663EF43205DF0F9F7ED68F26D85B4C9FD931194A45FF9D001CA84F229BA3D17051DA36891C6A5E5AFA3D4A7B1A8801C85EA0658D7C57B05E2217D0CF4F594E5DC6F1D4E6D5773F0A29BE356D934701B55738E2B4826D70A0F50BE94591D183B51E7AF4A264DEF9FBE62697DB561C66B90DFD7146E0C22F316889BDD1E1E4169F40BFFEE3B1B44D7401CB3A2EAD8991EE9ABBBAFA170EF1EABF4EE4B86C44FDF060F570CC5E7F04AEEBE8EACB42096E61BBF0A9BA47A0D72889649F3B947BF54DA572B61E3E658ACE46BF44C0B5C339BAF5CA7535D990922F40A2C972F73F03D9FC704CB44793EF85C55B7836B70C2E5B825D5B8A1298C2B752B0A752F8139E876C53CB4EC4BEB7843F3F4A8F3AD55E61B9AB3473170452D706836F35AE1B252E1D00CBA75C4E5C7B202111475871079F0CAF426F00A5C5B564521B2448245434014FDB64215F30E588B7A5261E7BB4028F0BDFA176A6F2AA49AD66B173C0905FC3BBE381B6FE375EF0AE8960318AC3EADAA3CBC31D9E097AAAADC95A2BAE16B20E8C8A5EE05957AA5A4126D14703DA3FE24D971F9FA7EC4E0BD00B62ADEA00418BE24BD26DA76366B27E5E625C6D8BA30C460A4D1DD69F54A618C424EB191B6AE57B143437D68041EBC88BF9D43C0FBD06C59B2C32ED10FD5E3DFFB8225A5F2758AF0EFD6F913EC5B4AF7771032281D3B75D991C1B6E05D91C3E04F10F0D54770DEA5C0A3A3F2C632CE001187A80141AA90C7689B336B81D67D16F12AA9D33F0C467517E652F635CA5D1FA763CED33C58B95E8E9B3D845DB078DDFC39F40FD123F217F14D916F8A1C2F19458F61C7D09204926CFEEDDF59E8E23CBFD990DFB2219680D10CC87BAE9BF87D11847E83F715701F5C008264A6AA77728497C4F1436BBCC60AD227FCF05D0F5045BE26A17687A24D88816537F1D2FD828198E386FF8EDC47B476BD97BA888C18889A115DB2CF2F03779DBA5156C168C7E35FB10CFBD1F3F7FF070000FFFF030053EE417298A10000 , N'6.4.4')
End;
