@using static CU.Application.Shared.CommonDefs

@if (UIMode == UIMode.List)
{
    <h1 class="h2">Students - Blazor</h1>
    <button @onclick="() => OnCreateStudent()" class="btn" style="background-color:lightgray;">Create Student</button>
}
else if (UIMode == UIMode.Create)
{
    <h1 class="h2">Student - New</h1>
}
else if (UIMode == UIMode.Edit)
{
    <h1 class="h2">Student - Edit</h1>
}
else
{
    <h1 class="h2">Students? - Blazor</h1>
}
@if (!string.IsNullOrWhiteSpace(Message))
{
    <p>@Message</p>
}
@if (UIMode == UIMode.List)
{
    <StudentList StudentsVM=@StudentsVM StudentAction="ca => StudentAction(ca)" />
}
else if (UIMode == UIMode.Create)
{
    <StudentEdit Student2Edit=@Student2Edit NewStudent=true StudentAction="sa => StudentAction(sa)" />
}
else if (UIMode == UIMode.Edit)
{
    <StudentEdit Student2Edit=@Student2Edit StudentAction="sa => StudentAction(sa)" />
}
else
{
    <p>??</p>
}
