@using ContosoUniversity.Components.Students 
@using CU.Application.Shared.ViewModels.Students
@model StudentsListViewModel
@{
    @if (Model.ViewMode >= 0)
    {
        Layout = "~/Views/Shared/_LayoutBlazor.cshtml";
    }
    ViewData["Title"] = "Students";
}
@if (Model.ViewMode < 0)
{
    <h1 class="h2">Students</h1>

    @await Html.PartialAsync("Partial/StudentsListPartial", Model.StudentsList)
}
else
{
    <component type="typeof(Students)" render-mode="Server" param-StudentsVM="Model" />
}

