@using ContosoUniversity.Components.Courses
@using static CU.Application.Shared.CommonDefs

@if (UIMode == UIMode.List)
{
    <h1 class="h2">Instructors - Blazor</h1>
    @*<button @onclick="() => OnCreateInstructor()" class="btn" style="background-color:lightgray;">Create Instructor</button>*@
}
else
{
    <h1 class="h2">Instructors? - Blazor</h1>
}
@if (!string.IsNullOrWhiteSpace(Message))
{
    <p>@Message</p>
}
@if (UIMode == UIMode.List)
{
    <InstructorList InstructorsVM=@InstructorsVM InstructorAction="ca => InstructorAction(ca)" />
    @if (InstructorId4Courses != null)
    {
        <div>
            &nbsp;<br/>
            <h2 class="h4">Courses for Instructor: @InstructorName4Courses</h2>
            <CourseList4Instructor InstructorID=@InstructorId4Courses.Value />
        </div>
    }
}
else
{
    <p>??</p>
}
